In [ ]:
#Siddharth Khare
#E18CSE174
#To make a friend recommender on social media using parallel BFS

In [ ]:
import pandas as pd

In [ ]:
import networkx as nx

In [ ]:
import pandas as pd 
df=pd.read_csv('gdrive/My Drive/Uni_work/lastfm_asia_edges.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df

       node_1  node_2
0           0     747
1           1    4257
2           1    2194
3           1     580
4           1    6478
...       ...     ...
27801    7488    7564
27802    7505    7579
27803    7533    7536
27804    7569    7587
27805    7580    7595

[27806 rows x 2 columns]

In [ ]:
df.head

<bound method NDFrame.head of        node_1  node_2
0           0     747
1           1    4257
2           1    2194
3           1     580
4           1    6478
...       ...     ...
27801    7488    7564
27802    7505    7579
27803    7533    7536
27804    7569    7587
27805    7580    7595

[27806 rows x 2 columns]>

In [ ]:
graph=nx.from_pandas_edgelist(df,source='node_1',target='node_2')

In [ ]:
class graph:
  def addtoedge(new,x,y):
    new.gragh[x].append(y)